{% extends 'admintemplates/layout.html' %}
{% block content %}
{% load static %}
<div class="page-wrapper">
    <div class="page-content">
        <!--breadcrumb-->
        <div class="page-breadcrumb d-none d-sm-flex align-items-center mb-3">
            <div class="breadcrumb-title pe-3">Create Page</div>
            <div class="ps-3">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb mb-0 p-0">
                        <li class="breadcrumb-item"><a href="javascript:;"><i class="bx bx-home-alt"></i></a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">Create Page</li>
                    </ol>
                </nav>
            </div>
        </div>
        <!--end breadcrumb-->
        <form method="post">
            {% csrf_token %}
            <div class="card">
                <div class="card-body">
                    <div class="item-content">
                        <div class="mb-3">
                            <label for="test_0_name text-uppercase" class="form-label" for="{{form.old_password.auto_id}}">{{form.old_password.label}}</label>
                            {{form.old_password}}
                            <span class="text-danger">{{form.old_password.errors}}</span>
                        </div>
                        <div class="mb-3">
                            <label for="test_0_name text-uppercase" class="form-label" for="{{form.new_password1.auto_id}}">{{form.new_password1.label}}</label>
                            {{form.new_password1}}
                            <span class="text-danger">{{form.new_password1.errors}}</span>
                        </div>
                        <div class="mb-3">
                            <label for="test_0_name text-uppercase" class="form-label" for="{{form.new_password2.auto_id}}">{{form.new_password2.label}}</label>
                            {{form.new_password2}}
                            <span class="text-danger">{{form.new_password2.errors}}</span>
                        </div>
                        <button type="submit" class="btn btn-primary">Change Password</button>
                    </div>
                </div>
        </form>
    </div>
</div>
{% endblock %}
{% block script %}
<script>
    
</script>
{% endblock %}
